<div>
    <h1>
        About
    </h1>
    <p>
        Windy City Print Shop was established in 2022 in Chicago, Illinois.
    </p>
    <p>
        We are a digital store aiming to streamline the printing
        and framing process for photographers across the United States. You
        are able to choose from a variety of materials, sizes, and frames 
        to purchase for your artwork.
    </p>
</div>
