<p>
    Windy City Print Shop is a digital store aiming to streamline the printing
    and framing process for photographers across the United States. You
    are able to choose from a variety of materials, sizes, and frames 
    for your artwork to be printed on.
</p>
