<body>
    <h1>
        Contact
    </h1>
    <p>For any questions or inquiries, please feel free to contact us!</p>
    <p>Email: info@windycityprintshop.com</p>
    <p>Phone: 312-000-0000</p>
</body>
