<table bgcolor='#18181b' width='100%'> <tr>
    <td width='20%' align='left'>
    <a href="/"><img src="/images/wcps_logo.png" width="70" height="40">
    </a></td>
        <td width='60%' align='center'><h1>Windy City Print Shop</h1></td>
        <td width='60%' align='center'>
            <% if(session.customer_id > 0) { %>
                <a href='/user/logout' class="link">Logout</a>
            <% } else { %>
                <a href='/user/login' class="link" >Login</a>
            <% } %>
        </td>
        <td width='10%' align='center'><a href="/catalog/cart" class="link">Cart</a></td>
    </tr>
</table>

<form id="search-bar" action="/search" method="get">
    Search: <input type="text"name="searchcriteria">
    <input type="submit" class="default-button" value="Go">
</form>

<ul>
    <li> <a href="/">Home</a> </li>
    <li> <a href="/catalog">Catalog</a> </li>
    <li> <a href="/about">About Us</a> </li>
    <li> <a href="/contact">Contact Us</a> </li>
    <li> <a href="/product">Products</a> </li>
    <li> <a href="/review">Reviews</a> </li>
    <li> <a href="/user">Users</a> </li>
    <li> <a href="/promotion">Promotions</a> </li>
    <li> <a href="/invoice">Invoices</a> </li>
    <li> <a href="/order">Orders</a> </li>
    <li> <a href="/report">Reports</a> </li>
</ul>
