<div>
    <p>
        Windy City Print Shop values user privacy. We collect user information only when it is provided. This would include name, email, and address. This is done in order to ship our products to users. We do not sell any data.
    </p>
    <p>
        If you have any questions or concerns, please feel free to contact us.
    </p>
</div>