<h1> New Record</h1>
<form action="/user" method="post">
    <table>
        <tr> 
            <td> User Name: </td> <td> <input type="text" name="user_name" required> </td> 
        </tr>

        <tr> 
            <td> Password: </td> <td> <input type="password" name="password" required> </td> 
        </tr>

        <tr> 
            <td> First Name: </td> <td> <input type="text" name="first_name" required> </td> 
        </tr>

        <tr> 
            <td> Last Name: </td> <td> <input type="text" name="last_name" required> </td> 
        </tr>

        <tr> 
            <td> Email: </td> <td> <input type="text" name="email" required> </td> 
        </tr>

        <tr> 
            <td> Address 1: </td> <td> <input type="text" name="address_1" required> </td> 
        </tr>

        <tr> 
            <td> Address 2: </td> <td> <input type="text" name="address_2"> </td> 
        </tr>

        <tr> 
            <td> City: </td> <td> <input type="text" name="city" required> </td> 
        </tr>

        <tr> 
            <td> State: </td> <td> <input type="text" name="state" required> </td> 
        </tr>

        <tr> 
            <td> Zip: </td> <td> <input type="text" name="zip" required> </td> 
        </tr>
    </table>
    <button type="submit" class="default-button">Save</button>
</form>
