<p><%= message %></p>
<form action="/user/login" method="post" >
    <p>Username: <input type="text" name="user_name" required> </p>
    <p>Password: <input type="password" name="password" required> </p>
    <button type="submit" class="default-button">Login</button>
</form>
