<h1> New Record</h1>
<form action="/invoice" method="post">
    <table>
        <tr> 
            <td> User ID: </td> <td> <input type="text" name="user_id" required> </td> 
        </tr>

        <tr> 
            <td> Invoice Date: </td> 
            <td> <input type="date" name="invoice_date" required> </td> 
        </tr>
    </table>
    <button type="submit" class="default-button">Save</button>
</form>
