<h1> Edit Invoice</h1>
<form action="/invoice/save" method="post">
    <input type="hidden" name="id" value="<%= onerec.id %>" >
    <table>
        <tr> 
            <td> User ID: </td> <td> <input type="number" name="user_id" value="<%= onerec.user_id %>" required> </td> 
        </tr>

        <tr> 
            <td> Invoice Date: </td> 
            <td> <input type="date" name="invoice_date" value="<%= onerec.invoice_date.toISOString().split('T')[0] %>" required> </td> 
        </tr>
    </table>
    <button type="submit">Save</button>
</form>
