<h1> New Record</h1>
<form action="/order" method="post">
    <table>
        <tr> 
            <td> Invoice ID: </td> <td> <input type="number" name="invoice_id" required> </td> 
        </tr>

        <tr> 
            <td> Product ID: </td> <td> <input type="number" name="product_id" required> </td> 
        </tr>

        <tr> 
            <td> Promotion ID: </td> <td> <input type="text" name="promotion_id"> </td> 
        </tr>

        <tr> 
            <td> Quantity: </td> <td> <input type="number" name="quantity" required> </td> 
        </tr>

        <tr> 
            <td> Total: </td> <td> <input type="number" name="total" step=0.01 required> </td> 
        </tr>
    </table>
    <button type="submit" class="default-button">Save</button>
</form>
