<h1>Report Menu</h1>
<p><a href="/report/customer" class="link">Customer Listing</a></p>
<p><a href="/report/product" class="link">Product Listing</a></p>
<p><a href="/report/sale" class="link">Sale Listing</a></p>